<div class="flex flex-col gap-5 justify-center items-center mb-5  pt-[100px]">

<% if(message) { %>    
    <p class="w-[700px] py-2 bg-green-500 text-white px-2 rounded-sm"><%= message %></p>
<% } %>    
    <form method="post">
        <div class="p-5 bg-white shadow-lg flex flex-col gap-2 w-[700px]">
            <div class="flex flex-col gap-1">
                <label for="">First name</label>
                <input type="text" class="border p-2 rounded-md" name="firstName" value="<%= data.firstName ? data.firstName : "" %>"/>
            </div>
            <div class="flex flex-col gap-1">
                <label for="">Last name</label>
                <input type="text" class="border p-2 rounded-md" name="lastName" value="<%= data.lastName ? data.lastName : "" %>"/>
            </div>
            <div class="flex flex-col gap-1">
                <label for="">Gemder</label>

                <select name="gender" class="border p-2 rounded-md">
                    <option value="male" <%= data.gender === "male" ? "selected" : "" %>>Male</option>
                    <option value="female" <%= data.gender === "female" ? "selected" : "" %>>Female</option>
                </select>
                </div>

                <div class="flex flex-col gap-1">
                    <label for="">First name</label>
                    <input type="date" class="border p-2 rounded-md" name="dob" value="<%= data.dob ? data.dateValue : "" %>"/>
                    </div>
    
            <input type="submit" value="Submit" class="bg-blue-500 py-2 text-white rounded-md"/>
        </div class="p-5 bg-white shadow-lg">
    </form>
</div>


<% if (user) { %>
    <div class="w-5/6 mx-auto">
        <h2 class="text-center my-3 text-3xl font-bold">Your Course</h2>
        <% if (user.Courses.length === 0) { %>
            <p class="text-center">No Course yet</p>
        <% } %>
        <div class="flex flex-wrap justify-center gap-5">
            <% user.Courses.forEach(el => { %>
                <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                    <img class="rounded-t-lg h-[200px] w-full object-cover" src="<%= el.imageUrl %>" alt="<%= el.title %>" />
        
                    <div class="p-5 flex flex-col justify-between">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"><%= el.title %></h5>
        
                        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><%= el.desc.slice(1,150) %>...</p>
                        
                    </div>
                </div>
            <% }) %>
        </div>
        </div>
<% } %>